.di:hover{
    height:80%;
}
.ai:hover{
    height:80%;
}
.bi:hover{
    height:80%;
}
.ci:hover{
    height:80%;
}
.ei:hover{
    height:80%;
}
.fi:hover{
    height:80%;
}
.gi:hover{
    height:80%;
}
.ki:hover{
    height:80%;
}