
.ab
{
    height: 100vh;
    
  
    
    

    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url("https://img.freepik.com/free-photo/still-life-sport-composition_23-2149006370.jpg?w=1060&t=st=1700999668~exp=1701000268~hmac=160a5d755ff8e8b2e9d6bde9f8f0e35cf93952e4e4d374c235fe55168512e3b0");
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
}
